<?xml version="1.0" ?>
<config>
    <modules>
        <Sapiha_Kasa>
            <version>0.0.1</version>
        </Sapiha_Kasa>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sapiha_kasa before="Mage_Adminhtml">Sapiha_Kasa_Adminhtml</sapiha_kasa>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sapiha_kasa module="sapiha_kasa">
                <title>Kasa Payment Info</title>
                <sort_order>85</sort_order>
                <action>adminhtml/kasa/index</action>
            </sapiha_kasa>
        </menu>
        <layout>
            <updates>
                <sapiha_kasa>
                    <file>sapiha_kasa.xml</file>
                </sapiha_kasa>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sapiha_kasa>
                    <file>sapiha_kasa.xml</file>
                </sapiha_kasa>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <sapiha_kasa>
                <class>Sapiha_Kasa_Model</class>
                <resourceModel>sapiha_kasa_resource</resourceModel>
            </sapiha_kasa>
            <sapiha_kasa_resource>
                <class>Sapiha_Kasa_Model_Resource</class>
                <entities>
                    <table_kasa_quote>
                        <table>sapiha_kasa_quote</table>
                    </table_kasa_quote>
                    <table_kasa_order>
                        <table>sapiha_kasa_order</table>
                    </table_kasa_order>
                </entities>
            </sapiha_kasa_resource>
        </models>
        <resources>
            <sapiha_kasa_setup>
                <setup>
                    <module>Sapiha_Kasa</module>
                </setup>
            </sapiha_kasa_setup>
        </resources>
        <helpers>
            <sapiha_kasa>
                <class>Sapiha_Kasa_Helper</class>
            </sapiha_kasa>
        </helpers>
        <blocks>
            <sapiha_kasa>
                <class>Sapiha_Kasa_Block</class>
            </sapiha_kasa>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <sapiha_kasa>
                        <class>sapiha_kasa/total</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </sapiha_kasa>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <sapiha_kasa>
                        <class>sapiha_kasa/invoice_total</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </sapiha_kasa>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <sapiha_kasa>
                        <class>sapiha_kasa/creditmemo_total</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </sapiha_kasa>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <order_write>
                        <type>singletone</type>
                        <class>sapiha_kasa/observer</class>
                        <method>writeOrder</method>
                    </order_write>
                </observers>
            </sales_model_service_quote_submit_success>
            <payment_method_is_active>
                <observers>
                    <allow_payment>
                        <type>singletone</type>
                        <class>sapiha_kasa/observer</class>
                        <method>allowPayment</method>
                    </allow_payment>
                </observers>
            </payment_method_is_active>
        </events>
    </global>
    <default>
        <payment>
            <sapiha_kasa>
                <active>1</active>
                <model>sapiha_kasa/method</model>
                <order_status>pending</order_status>
                <title>Kasa</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </sapiha_kasa>
        </payment>
    </default>
</config>
