<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Sapiha_Starshipment>
            <version>0.0.1</version>
        </Sapiha_Starshipment>
    </modules>
    <global>
        <helpers>
            <sapiha_starshipment>
                <class>Sapiha_Starshipment_Helper</class>
            </sapiha_starshipment>
        </helpers>
        <blocks>
            <sapiha_starshipment>
                <class>Sapiha_Starshipment_Block</class>
            </sapiha_starshipment>
        </blocks>
        <models>
            <sapiha_starshipment>
                <class>Sapiha_Starshipment_Model</class>
            </sapiha_starshipment>
        </models>
    </global>
    <default>
        <carriers>
            <sapiha_starshipment>
                <active>1</active>
                <model>sapiha_starshipment/carrier</model>
                <title>Star Delivery</title>
                <sort_order>10</sort_order>
            </sapiha_starshipment>
        </carriers>
    </default>
</config>
