<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Sapiha_Export>
            <version>0.0.1</version>
        </Sapiha_Export>
    </modules>
    <admin>
        <routers>
            <sapiha_export_admin>
                <use>admin</use>
                <args>
                    <module>Sapiha_Export</module>
                    <frontName>sapiha_export_admin</frontName>
                </args>
            </sapiha_export_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sapiha_export module="sapiha_export">
                <title>Export</title>
                <sort_order>79</sort_order>
                <action>sapiha_export_admin/adminhtml_export</action>
            </sapiha_export>
        </menu>
        <layout>
            <updates>
                <sapiha_export>
                    <file>sapiha_export.xml</file>
                </sapiha_export>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <sapiha_export>
                <class>Sapiha_Export_Model</class>
                <resourceModel>sapiha_export_resource</resourceModel>
            </sapiha_export>
            <sapiha_export_resource>
                <class>Sapiha_Export_Model_Resource</class>
                <entities>
                    <table_export>
                        <table>sapiha_export</table>
                    </table_export>
                </entities>
            </sapiha_export_resource>
        </models>
        <resources>
            <sapihaexport_setup>
                <setup>
                    <module>Sapiha_Export</module>
                </setup>
            </sapihaexport_setup>
        </resources>
        <blocks>
            <sapiha_export>
                <class>Sapiha_Export_Block</class>
            </sapiha_export>
        </blocks>
        <helpers>
            <sapiha_export>
                <class>Sapiha_Export_Helper</class>
            </sapiha_export>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <sapiha_export_export>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>sapiha_export/observer::exportByCron</model></run>
            </sapiha_export_export>
        </jobs>
    </crontab>
</config>
