<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sapiha_guestalert>
                                            <title>Guest Alert Config</title>
                                        </sapiha_guestalert>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <modules>
        <Sapiha_Guestalert>
            <version>0.0.1</version>
        </Sapiha_Guestalert>
    </modules>
    <frontend>
        <routers>
            <sapiha_guestalert>
                <use>standard</use>
                <args>
                    <module>Sapiha_Guestalert</module>
                    <frontName>guestalert</frontName>
                </args>
            </sapiha_guestalert>
        </routers>
        <layout>
            <updates>
                <sapiha_guestalert>
                    <file>sapiha_guestalert.xml</file>
                </sapiha_guestalert>
            </updates>
        </layout>
    </frontend>
    <global>
        <template>
            <email>
                <sapiha_guestalert_sapiha_guestalert_group_email_price_template translate="label" module="productalert">
                    <label>My template for price alert</label>
                    <file>price_email.html</file>
                    <type>html</type>
                </sapiha_guestalert_sapiha_guestalert_group_email_price_template>
            </email>
        </template>
        <template>
            <email>
                <sapiha_guestalert_sapiha_guestalert_group_email_stock_template translate="label" module="productalert">
                    <label>My template for stock alert</label>
                    <file>stock_email.html</file>
                    <type>html</type>
                </sapiha_guestalert_sapiha_guestalert_group_email_stock_template>
            </email>
        </template>
        <blocks>
            <productalert>
                <rewrite>
                    <product_view>Sapiha_Guestalert_Block_Product_View</product_view>
                </rewrite>
            </productalert>
        </blocks>
        <helpers>
            <productalert>
                <rewrite>
                    <data>Sapiha_Guestalert_Helper_Helper</data>
                </rewrite>
            </productalert>
        </helpers>
        <blocks>
            <sapiha_guestalert>
                <class>Sapiha_Guestalert_Block</class>
            </sapiha_guestalert>
        </blocks>
        <models>
            <sapiha_guestalert>
                <class>Sapiha_Guestalert_Model</class>
                <resourceModel>sapiha_guestalert_resource</resourceModel>
            </sapiha_guestalert>
            <sapiha_guestalert_resource>
                <class>Sapiha_Guestalert_Model_Resource</class>
                <entities>
                    <table_price>
                        <table>sapiha_guestalert_price</table>
                    </table_price>
                    <table_stock>
                        <table>sapiha_guestalert_stock</table>
                    </table_stock>
                </entities>
            </sapiha_guestalert_resource>
        </models>
        <resources>
            <sapiha_guestalert_setup>
                <setup>
                    <module>Sapiha_Guestalert</module>
                </setup>
            </sapiha_guestalert_setup>
        </resources>
        <helpers>
            <sapiha_guestalert>
                <class>Sapiha_Guestalert_Helper</class>
            </sapiha_guestalert>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <sapiha_guestalert_process>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>sapiha_guestalert/observer::process</model></run>
            </sapiha_guestalert_process>
        </jobs>
    </crontab>
</config>