<?xml version="1.0" ?>
<config>
    <modules>
        <Sapiha_News>
            <version>0.0.1</version>
        </Sapiha_News>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sapiha_news before="Mage_Adminhtml">Sapiha_News_Adminhtml</sapiha_news>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sapiha_news_options>
                                            <title>News</title>
                                        </sapiha_news_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sapiha_news>
                    <file>sapiha_news.xml</file>
                </sapiha_news>
            </updates>
        </layout>
        <menu>
            <sapiha_news module="sapiha_news">
                <title>News</title>
                <sort_order>78</sort_order>
                <action>adminhtml/news/index</action>
            </sapiha_news>
        </menu>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sapiha_news>
                    <file>sapiha_news.xml</file>
                </sapiha_news>
            </updates>
        </layout>
        <routers>
            <sapiha_news>
                <use>standard</use>
                <args>
                    <module>Sapiha_News</module>
                    <frontName>news</frontName>
                </args>
            </sapiha_news>
        </routers>
    </frontend>
    <global>
        <helpers>
            <sapiha_news>
                <class>Sapiha_News_Helper</class>
            </sapiha_news>
        </helpers>
        <blocks>
            <sapiha_news>
                <class>Sapiha_News_Block</class>
            </sapiha_news>
        </blocks>
        <models>
            <sapiha_news>
                <class>Sapiha_News_Model</class>
                <resourceModel>sapiha_news_resource</resourceModel>
            </sapiha_news>
            <sapiha_news_resource>
                <class>Sapiha_News_Model_Resource</class>
                <entities>
                    <table_news>
                        <table>sapiha_news</table>
                    </table_news>
                </entities>
            </sapiha_news_resource>
        </models>
        <resources>
            <sapiha_news_setup>
                <setup>
                    <module>Sapiha_News</module>
                </setup>
            </sapiha_news_setup>
        </resources>
    </global>
</config>
