<?xml version="1.0" ?>
<config>
    <modules>
        <Sapiha_Banner>
            <version>0.0.1</version>
        </Sapiha_Banner>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <sapiha_banner>
                    <file>sapiha_banner.xml</file>
                </sapiha_banner>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <sapiha_banner>
                <use>standard</use>
                <args>
                    <module>Sapiha_Banner</module>
                    <frontName>banner</frontName>
                </args>
            </sapiha_banner>
        </routers>
        <layout>
            <updates>
                <sapiha_banner>
                    <file>sapiha_banner.xml</file>
                </sapiha_banner>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <widget>
                <rewrite>
                    <widget_instance>Sapiha_Banner_Model_Widget_Instance</widget_instance>
                </rewrite>
            </widget>
            <sapiha_banner>
                <class>Sapiha_Banner_Model</class>
                <resourceModel>sapiha_banner_resource</resourceModel>
            </sapiha_banner>
            <sapiha_banner_resource>
                <class>Sapiha_Banner_Model_Resource</class>
                <entities>
                    <table_banner>
                        <table>sapiha_banner</table>
                    </table_banner>
                </entities>
            </sapiha_banner_resource>
        </models>
        <resources>
            <sapiha_banner_setup>
                <setup>
                    <module>Sapiha_Banner</module>
                </setup>
            </sapiha_banner_setup>
        </resources>
        <blocks>
            <sapiha_banner>
                <class>Sapiha_Banner_Block</class>
            </sapiha_banner>
        </blocks>
        <helpers>
            <sapiha_banner>
                <class>Sapiha_Banner_Helper</class>
            </sapiha_banner>
        </helpers>
        <events>
            <widget_widget_instance_delete_before>
                <observers>
                    <delete_images>
                        <type>singleton</type>
                        <class>sapiha_banner/observer</class>
                        <method>deleteImages</method>
                    </delete_images>
                </observers>
            </widget_widget_instance_delete_before>
            <widget_widget_instance_save_before>
                <observers>
                    <save_banner>
                        <type>singleton</type>
                        <class>sapiha_banner/observer</class>
                        <method>saveBanner</method>
                    </save_banner>
                </observers>
            </widget_widget_instance_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <sapiha_banner_admin>
                <use>admin</use>
                <args>
                    <module>Sapiha_Banner</module>
                    <frontName>sapiha_banner_admin</frontName>
                </args>
            </sapiha_banner_admin>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sapiha_banner>
                                            <title>Banner</title>
                                        </sapiha_banner>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
